{% extends 'base.html' %}



{% block test %}
<div class="container h-100">
    <div class="row h-100  justify-content-center align-items-center">
        <div class="col col-md-4">
            <label for="" class="form-label mb-2">Upload File</label>
            <input type="file" id="file" class="form-control mb-3" >
            <button  class="btn btn-primary float-end" type="submit" onclick="uploadFile();">Submit Form</button>
        </div>
    </div>  
  <p id="demo"></p>
  
   
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script>
      function uploadFile() {
          var data = new FormData();
          data.append("file", $("input[id^='file']")[0].files[0]);
          data.append("csrfmiddlewaretoken", "{{ csrf_token }}");
          $.ajax({
              method: "POST",
              url: "/upload/",
              processData: false,
              contentType: false,
              mimeType: "multipart/form-data",
              data: data,
              success: function(res) {
                  console.log(res)
              }
          })
      }
  </script>
{% endblock test %}
    